<div class="container">
  <form [formGroup]="form">
  <table>
    <thead>
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Phone</th>
        <th width="250px">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let contact of contactsList; index as i;">
        <tr>
          <th scope="row">{{contact.id}}</th>
          <ng-container *ngIf="enableEditIndex != i">
            <td>{{contact.firstName}}</td>
            <td>{{contact.lastName}}</td>
            <td>{{contact.phone}}</td>
            <td *ngIf="enableEditIndex != i">
              <button type="button" (click)="switchEditMode(i)">Edit</button>
            </td>
            <button class="btn-custom" (click)="delete(contact.id)">Delete</button>
          </ng-container>
          <ng-container *ngIf="enableEditIndex == i">
            <td><input id="firstName" type="text" class="form-control" formControlName="firstName" /></td>
            <td><input formControlName="lastName" /></td>
            <td><input formControlName="phone" /></td>
            <td><button (click)="update(i)">Update</button></td>
            <button class="btn-custom" (click)="delete(contact.id)">Delete</button>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>
      <div class="form-group">
        <label for="firstName">FirstName:</label>
        <input formControlName="firstName" id="firstName" type="text" class="form-control">
        <div *ngIf="f['firstName'].touched && f['firstName'].invalid" class="alert alert-danger">
            <div *ngIf="f['firstName'].errors && f['firstName'].errors['required']">FirstName is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="title">LastName:</label>
        <input 
            formControlName="lastName" id="lastName" type="text" class="form-control">
        <div *ngIf="f['lastName'].touched && f['lastName'].invalid" class="alert alert-danger">
            <div *ngIf="f['lastName'].errors && f['lastName'].errors['required']">LastName is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Phone:</label>
        <input 
            formControlName="phone" id="phone" type="number" class="form-control">
        <div *ngIf="f['phone'].touched && f['phone'].invalid" class="alert alert-danger">
            <div *ngIf="f['phone'].errors && f['phone'].errors['required']">Phone is required.</div>
        </div>
      </div>
    <div>
      <button class="btn-add" [disabled]="form.invalid" (click)="add()">Add</button>
      
    </div>
  </form>
</div>